* {
  margin: 0;
}

header {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(45deg, powderblue, goldenrod, orange);
}

header > img {
  height: 50px;
  width: 90px;
  border-radius: 50%;
  box-shadow: 4px 4px 4px orange;
}

header ol {
  /* border: 6px solid black; */
  width: 60vw;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  flex-wrap: wrap;
}
header ol > li {
  text-align: center;
  margin: 10px;
  flex: 1;
  background-color: aliceblue;
  padding: 8px 20px;
  border-radius: 8px;
}
header ol > li:hover {
  box-shadow: 4px 4px 4px aliceblue;
  background-color: bisque;
  transform: scaleX(1.2);
}
header ol > li > a {
  color: brown;
  /* text-decoration: line-through dotted 4px red; */
  text-decoration: none;
}

video {
  width: 100vw;
}

#title-container > h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  position: absolute;
  top: 40%;
  left: 30%;
  color: aliceblue;
  font-size: 45px;
  text-shadow: 3px 3px 3px black;
  font-style: italic;
}
#title-container > h1::first-letter {
  font-size: 70px;
}

#products-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  background-color: darkgray;
  width: 270px;
  position: relative;
  top: -300px;
  animation: move 4s;
}

@keyframes move {
  from {
    transform: translate(-1000px);
  }
  to {
    transform: translate(0px);
    background-color: rgba(29, 26, 26, 0.828);
    box-shadow: 5px 5px 5px aliceblue;
  }
}

@media screen and (min-width: 0px) and (max-width: 400px) {
  .card {
    width: 200px;
    background-color: brown;
    position: relative;
    top: -10px;
  }

  #title-container > h1 {
    font-size: 20px !important;
  }
  #title-container > h1::first-letter {
    font-size: 25px !important;
  }

  .card-header > img {
    width: 150px !important;
    height: 300px !important;
  }
}

@media screen and (min-width: 450px) and (max-width: 1005px) {
  .card {
    /* background-color: brown; */
    position: relative;
    top: -150px;
  }
}

.card-header > img {
  height: 350px;
  width: 250px;
  border-radius: 10px;
}

body {
  background-image: radial-gradient(gray, white);
}

.card h1 {
  font-style: italic;
  font-family: "Courier New", Courier, monospace;
  margin-left: 10px;
}

.card h1:first-child {
  color: aliceblue;
  text-shadow: 3px 3px 3px black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 10px;
}

.card p {
  color: rgb(98, 88, 88);
  margin-left: 10px;
  font-style: italic;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
}

.card-footer {
  margin-top: 20px;
}
.card-footer button {
  padding: 8px 20px;
  margin: 10px;
  font-family: monospace;
  font-weight: bold;
  font-style: italic;
  border: none;
  border-radius: 10px;
  box-shadow: 4px 4px 4px black;
}
.card-footer button:first-child {
  background-color: #00ff00;
  color: #077507;
}
.card-footer button:last-child {
  background-color: #ffcc00;
  color: #756607;
}

.card-footer button:hover {
  box-shadow: 4px 4px 4px aliceblue;
  color: aliceblue;
  cursor: pointer;
  transform: scale(1.1);
}